  <h1>Adicionar Filme</h1>
  <form class="c-form" 
        action="{{ url_for('filmes.inserir_filmes') }}"
        c-target="#index-filmes"
        method="post">


    <div class="mb-3">
      <label class="form-label">Nome do filme</label>
      <input type="text" class="form-control" name="nome" required>
    </div>


    <div class="mb-3">
      <label class="form-label">Data de lançamento</label>
      <input type="date" class="form-control" name="data" required>
    </div>


    <div class="mb-3">
      <label class="form-label">Genero do filme</label>
      <select name="genero" required>
        <option value="">Selecione o Gênero</option>
        <option value="acao">Ação</option>
        <option value="animacao">Animação</option>
        <option value="aventura">Aventura</option>
        <option value="comedia">Comédia</option>
        <option value="documentario">Documentário</option>
        <option value="drama">Drama</option>
        <option value="ficcao-cientifica">Ficção Científica</option>
        <option value="horror">Horror</option>
        <option value="musical">Musical</option>
        <option value="romance">Romance</option>
        <option value="suspense">Suspense</option>
        <option value="guerra">Guerra</option>
        </select>
    </div>


    <div class="mb-3">
      <label class="form-label">Duração(minutos):</label>
      <input type="number" class="form-control" name="duracao" required>
    </div>


    <div class="mb-3">
      <label class="form-label">Sinopse:</label>
      <input type="text" class="form-control" name="sinopse" required>
    </div>

    <button  type="submit" class="btn btn-primary" >Cadastrar</button>

  </form>
</div>
