<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar</title>
</head>
<body>
    <div class="bloco">
        <form action="/src/filmes.db" method="post">
        <div class="dados">
            <div class="formulario conteudos">
                <label type="text" aria-placeholder="Nome do Filme"></label>
                <input type="text" name="" id="{FILME}">
            </div>
        </div>
        <div class="dados">
            <div class="formulario conteudos">
                <label type="text" aria-placeholder="Data de lançamento"></label>
            </div>
        </div>
        <div class="dados">
            <div class="formulario conteudos">
                <label type="text" aria-placeholder="Gênero do Filme"></label>
            </div>
        </div>
        <div class="dados">
            <div class="formulario conteudos">
                <label type="text" aria-placeholder="Tempo de duração"></label>
            </div>
        </div>
        <div class="dados">
            <div class="formulario conteudos">
                <label type="text" aria-placeholder="Sinopse do Filme"></label>
            </div>
        </div>
        </form>
    </div>
</body>
</html>