<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar</title>
</head>
<body>
    <div class="tabela1">
        <div class="tabela2">nomeFilme</div>
    <div class="tabela1">
        <div class="tabela2">dataLancamento</div>
    </div>
    <div class="tabela1">
        <div class="tabela2">generoFilme</div>
    </div>
    <div class="tabela1">
        <div class="tabela2">duracaoFilme</div>
    </div>
    <div class="tabela1">
        <div class="tabela2">sinopseFilme</div>
    </div>
</body>
</html>