<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Filmes</title>
  <link rel="stylesheet" href="../static/css/listar_filme.css">
</head>
<body>
  <h1>Lista de Filmes</h1>
  {% for filme in filmes %}
    {{ filme.filme_id }}
    {{ filme.filme_nome }}
    {{ filme.filme_data }}
    {{ filme.filme_genero }}
    {{ filme.filme_duracao }}
    {{ filme.filme_sinopse }}
  {% endfor %}
  <ul class="lista-filmes">
    <li>
      <h2>Título do Filme 1</h2>
      <p>Descrição do Filme 1...</p>
    </li>
    <li>
      <h2>Título do Filme 2</h2>
      <p>Descrição do Filme 2...</p>
    </li>
    </ul>
</body>
</html>
