body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
  }

  .lista-filmes {
    position: relative;
    display: flex;
    list-style-type:none;
    box-shadow: 1px 1px 15px white;
    margin: 5% 12% 0% 12%;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #292929;
    color:white;
    padding: 0px;
  }

  .lista-filmes-Criar {
    list-style-type:none;
    box-shadow: 1px 1px 15px white;
    margin: 5% 12% 0% 12%;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #292929;
    color:white;
    padding: 0px;
  }

  .Poster{
    border-radius: 20px 1px 1px 20px;
    width:100%;
    transition: 1s;
  }

    .conteudo {
      width: 100%;
    transition: 5s;  
  }

  .mostrar-conteudo{
    border-radius: 1px 20px 20px 1px;
  }
  
  @media (max-width: 729px) {
    .lista-filmes {
      display: inline-block;
    }
  }
 